.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-table-1 {
  margin: 70px auto 0 0;
}

.u-block-29bb-4 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-entity-1 {
    min-height: 100px;
  }
}